#### text=input("")
a=text[0]
b=text[-1]
c=text[1:-1]
New_text=b+c+a
New_text

In [13]:
text="AAyush_sharma"
a=text[0]
b=text[-1]
c=text[1:-1]
New_text=b+c+a
New_text

'aAyush_sharmA'

In [26]:
text=input("")
a=text[::-1]
a

Aayush

'hsuyaA'

In [30]:
text=input("")
a=text[::-1]
if a==text:
    print("palindrome")
else:
    print("not palindrome")

oyo
palindrome

In [1]:
text=input("")
for i in range(len(text)):
    new_text=text[i:]+text[:i]
    print(new_text)

aayush
aayush
ayusha
yushaa
ushaay
shaayu
haayus

In [1]:
tuple=(1,2,3,4)

In [2]:
tuple[0]

1

In [7]:
tuple1=((1,2,3,4),(input()))

()987 55 4

In [9]:
print(tuple1)

((1, 2, 3, 4), '987 55 4')

In [16]:
tuple2=((2,3,4,5),(input()))

0

In [20]:
tuple2.count()

TypeError: tuple.count() takes exactly one argument (0 given)

In [22]:
print(tuple2*7)

((2, 3, 4, 5), '0', (2, 3, 4, 5), '0', (2, 3, 4, 5), '0', (2, 3, 4, 5), '0', (2, 3, 4, 5), '0', (2, 3, 4, 5), '0', (2, 3, 4, 5), '0')

In [25]:
tuple.count(2)

0

In [28]:
t2=(8,23,45,44,5)
b=sorted(t2)
print(b)

[5, 8, 23, 44, 45]

In [23]:
str=input("")
b=tuple(str)
print(b)

12 32 45 6, 88 ,8
('1', '2', ' ', '3', '2', ' ', '4', '5', ' ', '6', ',', ' ', '8', '8', ' ', ',', '8')

In [ ]:
str="1 2  3"
b=tuple(str)
print(b)

In [26]:
c=input()
d= c[::-1]
print(d)

421
124

In [34]:
a= [(),(),(""),(1,2),(1,2,3)]
empty=()
li = []
for i in a:
    if i==empty:
        pass
    else:
        li.append(i)
print(li)

['', (1, 2), (1, 2, 3)]

In [35]:
a= "the tajmahal is one of the seven wonders"
b= a.split()
print(b)
k=[]
for i in range(0,len(b)):
    f=b[i]
    c=f[-1:0:-1]
    d=f[0]
    e=c+d
    k.append(e)
print("".join(k))

['the', 'tajmahal', 'is', 'one', 'of', 'the', 'seven', 'wonders']
ehtlahamjatsienofoehtnevessrednow

In [33]:
t= "1 2 3 4 5 6 7 "
x= t.split()
y= [int(i) for i in x]
print(tuple(y))'

SyntaxError: EOL while scanning string literal (3421067333.py, line 4)

In [6]:
a=input()
alphabet="abcdefghijklmnopqrstuvwxyz"
for i in alphabet:
    if i not  in a:
        print("NO")
        break
    else:
        print("yes")

o
NO

In [11]:
a=input()
alphabet="abcdefghijklmnopqrstuvwxyz"
for i in alphabet:
    if i   in a:
        print("yes")
        break
    else:
        print("noo")

s
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
noo
yes